:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-deepblue: #011D38;
  --color-lightblue: #295E90;
  --color-red: #FF0000;
  --color-lightgrey: #EEEEEE;
  --color-grey: #7B7B7B;
  --color-darkblue: #2D2D44;
}
